.mapa {
    padding: 3em 0;
    background-color: linear-gradient(#FEFEFE, #888888);
}

.mapa p {
    margin: 0 0 2em;
    text-align: center;
}

.mapa-conteudo {
    width: fit-content;
    margin: 0 auto;
}

@media screen and (min-width: 1080px) {
    .mapa-conteudo {
        width: 940px;
    }
}