body {}

#banner {
    width: 100%;
    height: 700px;
}

.principal {
    background: rgb(178, 178, 178);
    padding: 6em 0;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
}

.titulo-principal {
    padding-left: 20px;
    height: 15vw;
}

.titulo-centralizado {
    text-align: center;
}

p {
    text-align: center;
}

#missao {
    font-size: 20px;
}

em strong {
    color: #a800a86f;
}

.itens {
    font-style: italic;
    line-height: 1.2;
}

.beneficios {
    background: #FFFFFF;
    padding: 20px;
}

.beneficios ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imagembeneficios {
    width: 65px;
    opacity: 0.7;
}

header {
    background: #BBBBBB;
    padding: 20px 0;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

/* Responsividade para telas pequenas */
@media screen and (max-width: 480px) {

    .caixa,
    .principal,
    .conteudo-beneficios,
    .mapa-conteudo,
    .video {
        width: auto;
        padding: 0 10px;
        box-sizing: border-box;
    }

    #banner {
        width: 100%;
        height: auto;
        padding: 5em 0;
    }

    .principal {
        background: rgb(178, 178, 178);
        padding: 6em 1em;
        width: 100%;
    }

    .logo {
        width: 40vw;
        max-width: 150px;
        font-size: 20px;
    }

    .titulo-principal {
        padding-left: 20px;
        height: auto;
        font-size: 1.5em;
        text-align: center;
        margin-bottom: 1em;
    }

    .titulo-centralizado {
        text-align: center;
    }

    p {
        text-align: center;
        padding: 0 10px;
    }

    #missao {
        font-size: 20px;
        padding: 0 10px;
    }

    .itens {
        font-style: italic;
        line-height: 1.2;
        padding: 0 10px;
    }

    .beneficios {
        background: #FFFFFF;
        padding: 20px 10px;
    }

    .beneficios ul {
        display: block;
        width: 100%;
        margin-right: 0;
        padding: 0;
    }

    .imagembeneficios {
        width: 100%;
        max-width: 65px;
        opacity: 0.7;
        margin: 0 auto 20px auto;
        display: block;
    }

    header {
        background: #BBBBBB;
        padding: 20px 10px;
    }

    .caixa {
        position: relative;
        width: 100%;
        margin: 0 auto;
        padding: 0 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    nav {
        position: static;
        margin-top: 15px;
        text-align: center;
        width: 100%;
    }

    nav ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }

    nav li {
        display: inline-block;
        margin: 0 10px;
    }

    nav a {
        text-transform: uppercase;
        color: #000000;
        font-weight: bold;
        font-size: 18px;
        text-decoration: none;
    }
}