@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

@import url(/styles/header.css);
@import url(/styles/footer.css);
@import url(/styles/produtos.css);
@import url(/styles/contato.css);
@import url(/styles/beneficios.css);
@import url(/styles/principal.css);
@import url(/styles/mapa.css);

:root {
    --cor-principal: #003aff;
    --cor-escuro: #5a2feb82;
    --cor-secundaria: #2f148ab3;
    --cor-branco: #fbfbfb;
    --cor-azulclarinho: #00b4ff;
    --cor-preto: #090000;
    --cor-rosa: #fa40eac0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.banner {
    width: 100%;
}


/* SELETORES AVANÇADOS PARA SEREM USADOS

main p {
    background: red;
}

main > p {
    background: red; 
}

img + p { 
    background: blue;
}

img ~ p {
    background: yellow
} 

.principal p:not(#missao) {
    background: orange;
}



@media screen and (max-width: 480px) {
       

    h1 {
        text-align: center;
    }

    nav {
        position: static;
    }

    .lista-beneficios, beneficios {
        width: 100%;
    }

}
*/
