header {
    background: var(--cor-escuro);
    padding: 20px 0;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

.logo-Branco {
    width: 20vw;
}

.logo-da-header {
    width: 20vw;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
    transition: color 0.3s ease;
    /* Adicionei a transição para suavizar a mudança de cor */
}

nav {
        position: static;
    }
