/* Estilização para telas menores */
header {
    background: var(--cor-escuro);
    padding: 20px 0;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 1.5em;
    font-weight: bold;
}

.logo-da-header {
    width: 20vw;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav ul {
        display: grid;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
    transition: color 0.3s ease;
    /* Adicionei a transição para suavizar a mudança de cor */
}

nav a:hover {
    color: var(--cor-principal);
    text-decoration: underline;
}

/* Estilização para Tablets (telas médias)    */
@media screen and (min-width: 480px) {
    #nome_empresa {
        display: flex;
    }    
}

@media screen and (min-width: 645px) {
    nav ul {
        display: inline;
    }
    
}
/* Estilização para Desktop (telas maiores)   */
@media screen and (min-width: 1080px) {
    .caixa {
        width: 940px;
    }
}
