.titulo-principal {
    text-align: center;
    font-size: 2em;
    margin: 0 0 1.25em;
    clear: left;
    height: 10%;
}

.principal {
    padding: 5em 0;
    background: #FEFEFE;
    width: 940px;
    margin: 0 auto;
}

.principal p {
    margin: 0 0 1em;
}

.principal strong {
    font-weight: bold;
}

.principal em {
    font-style: italic;
}

.utensilios {
    width: calc(40% - 26px);
    float: left;
    margin: 0 20px 20px 0;
}

@media screen and (min-width: 480px) {
    
}

@media screen and (min-width: 1080px) {
    .principal {
        width: 940px;
    }
}